<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Traffic Map</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuHrqBc5b9naIyI6BW_F9rim_KF2oqcNI&libraries=visualization"></script>
    <style>
        #map {
            height: 100vh;
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 51.1694, lng: 71.4491 }, 
                zoom: 13,
                styles: [
                    {
                        featureType: "poi",
                        stylers: [{ visibility: "off" }]
                    },
                    {
                        featureType: "transit",
                        stylers: [{ visibility: "off" }]
                    }
                ]
            });

            var trafficLayer = new google.maps.TrafficLayer();
            trafficLayer.setMap(map);
        }

        window.onload = initMap;
    </script>
</body>
</html>
